html {
  box-sizing:border-box;
}
*,*:before, *:after{
    box-sizing:inherit;
}

header{
		background-color: rgba(67, 191, 255, 0.8);

}

header > nav {
	/*background-color: rgba(67, 191, 255, 0.8);*/
	/*border: solid  1px black;*/
}

body{
	background-color:black;
	margin:0;
	font-family:sans-serif;
	line-height:1.7;
	font-size:14px;
}

.post, .words, .image, .image > img{
	width:100%;
}

.post{
	margin:auto;
	padding: 20px 0;
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    .post, .words, .image{
        width: 750px;
    }
    header{ 
    height:160px;
	width: 100%;
	}

	header > nav > ul > li {
	display:inline-block;
	margin: 0 20px;
	}

	header > nav>ul{
	margin-left: auto;
	margin-right: auto;
	}
	header>nav>ul{
		/*border:solid 1px white;*/
		text-align:center;
	}

	}

.words > h2{
	margin:0 5px;
}

.date {
	margin:20px 5px;
}

.blurb{
	margin:5px;
}

.words > h3{
	margin:20px 5px;
}

.words > ul{
	margin:5px;
	list-style:none;
}

.words > ul > li > a {
color:black;
}

.words >ul >li {
	margin:10px 0;
}

.words{
	background-color: rgba(255,255,255,0.8);
}

.image{
	margin-bottom: 0;
}

header > nav > ul{
		list-style-type: none;
		/*border:solid 1px white;*/
		padding:0;
}

header> nav> ul>li{
		/*border:solid 1px white;*/
		text-align:center;
		font-weight: bold;
		/*margin:0 20px;*/
}
header> nav> ul> li> a {
	text-decoration: none;
	color: black;

}

header>img {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

footer{
	background-color: black;
	padding:0;
}
.socials{
	margin-left: auto;
	margin-right: auto;
	width:350px;	
}
.socials > li {
	display: inline-block;
	text-align: center;
	margin:0 20px;
	/*position: relative;*/

}

.sn1{
	width: 120px;
}

.sn2{
	width: 120px;
}

.sn3{
	width:120px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 30px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

footer > nav > ul > li > a{
	border-radius: 5px;
}





